{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<main>
  <div class="container py-5">
    <h1>Привет, я автор сайта <span style="color:red">Ya</span>tube.</h1>
    <p>
      Меня зовут Ярослав. Я Обучаюсь в Яндекс.практикуме и мне очень нравится изучение технологий связанных с IT. 
      Я начал изучать Python еще до поступления, планировал сначала окрепуть в базовом питоне, но потом пришлось ускориться и я начал обучение в комманде практикума:)
      По началу, в силу самостоятельного обучения, практика давалась довольно легко, но с течением времени и приходом все новых и новых тем, обучение становилось все более сложным.
      Но я не сдаюсь и хочу открыть для себя новые горизонты!
    </p>
    <p> P.S. Желаю добра и удачи прочитавшему этот текст!</p>
  </div>
</main>
{% endblock %} 