{% extends "base.html" %}
{% block title %}<title> Технологии </title>{% endblock %}
{% block content %}

<main>
  <div class="container py-5">
    <div class="row">
      <h1>Вот что я умею</h1>
      {% comment %}
        Боковой блок со списком технологий 
        Займет всю ширину блока на мобильном
        и 25% при размерах экрана ≥768px
      {% endcomment %}
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python==3.7
          </li>
          <li class="list-group-item">
            Django==2.2
          </li>
          <li class="list-group-item"> 
            Немного СуКеЛе(SQLite)
          </li>
        </ul>
      </aside>
      {% comment %}
        Статья  
        Займет всю ширину блока на мобильном
        и 75% при размерах экрана ≥768px
      {% endcomment %}
      <article class="col-12 col-md-9">
        <h2>
          Технологии, с которыми познакомился за время работы над проектом
        </h2>
          <p>
            Пока проливал пот, кровь и слёзы на проекте, Я успел познакомиться более глубоко с Python, 
            а также, влетев с ноги(Или это меня пнули с ноги, пока так и не разобрался) с Django. 
            В проекте использовал хоть и версии с Легаси кодом, но все равно настроен оптимистично. 
            Сумел настроить связь проекта с БД(SQLite) и сделал рабочий вариант изменения паролей у пользователя. 
            Планирую по мере прохождения дальнейшего обучения развивать проект, а в конце, в случае если чего-то мне будет нехватать,
            попробую допилить проект своими силами(Буду молиться богам, чтобы силы остались как на работу, так как "кушац" тоже хочется, так и на проект).
          </p>
      </article>
    </div>
  </div>
</main>
{% endblock %} 